version: '3'
services:
  namenode:
    image: adbgonzalez/hadoop:test
    container_name: namenode
    hostname: namenode
    ports:
      - "10071:50070"
      - "9000:9000"
      - "9870:9870"
    networks:
      - hadoop
    volumes:
      - namenode_data:/home/hadoop/namenode
      - ./start-dfs.sh:/start-dfs.sh
    command: /bin/bash /start-dfs.sh 


  datanode:
    image: adbgonzalez/hadoop:test
    container_name: datanode
    hostname: datanode
    networks:
      - hadoop
    volumes:
      - datanode_data:/home/hadoop/datanode/
    command: hdfs datanode

  resourcemanager:
    image: adbgonzalez/hadoop:test
    container_name: resourcemanager
    hostname: resourcemanager
    ports:
      - "8088:8088"
    networks:
      - hadoop
    command: yarn resourcemanager

  nodemanager:
    image: adbgonzalez/hadoop:test
    container_name: nodemanager
    hostname: nodemanager
    networks:
      - hadoop
    command: yarn nodemanager

networks:
  hadoop:
    driver: bridge

volumes:
  namenode_data:
  datanode_data: