version: '3'
services:
  namenode:
    image: hadoop #Substituir
    # TODO
    volumes:
      # TODO
      - ./start-dfs.sh:/start-dfs.sh
    command: /bin/bash /start-dfs.sh 


  datanode:
    image: hadoop #Substituir
    # TODO
    command: hdfs datanode

  resourcemanager:
    image: hadoop #Substituir
    # TODO
    command: yarn resourcemanager

  nodemanager:
    # TODO
    command: yarn nodemanager

networks:
  hadoop:
    driver: bridge

volumes:
  namenode_data:
  datanode_data: